@page
@model Stock_Manager.Pages.Clients.EditModel
@{
}
<br>
<h2>Modifier un client</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning">@Model.errorMessage</div>
}

<form method="post">
    <input type="hidden" name="id" value="@Model.clientInfo.id" />
    <div class="mb-3">
        <label>Nom</label>
        <input type="text" class="form-control" name="nom" value="@Model.clientInfo.nom" />
    </div>
    <div class="mb-3">
        <label>Email</label>
        <input type="text" class="form-control" name="email" value="@Model.clientInfo.email" />
    </div>
    <div class="mb-3">
        <label>Téléphone</label>
        <input type="text" class="form-control" name="telephone" value="@Model.clientInfo.telephone" />
    </div>
    <div class="mb-3">
        <label>Adresse</label>
        <input type="text" class="form-control" name="adresse" value="@Model.clientInfo.adresse" />
    </div>

    <button type="submit" class="btn btn-success">Mettre à jour</button>
    <a href="/Clients/Clients" class="btn btn-secondary">Annuler</a>
</form>
